<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class = "top">
        <h1 class="heading">Text Classification</h1>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form action="{{url_for("positive")}}" method="POST">
        <textarea name="text_predict" class="text_area"  cols="40" rows="3" required="true" value="Type Here....."></textarea>
        <br>
        <input type="submit" value="Detect" class = "button">
    </form>
    <br>
    <br>
    <h1 style="color:rgb(209, 209, 209);" >{{ pred }}</h1>
</body>
</html>

